<section>
  <button class="createControlButton" mat-raised-button (click)="openDialog()">Create Control</button>

  <div cdkDropListGroup class="dashboardColumns">

    <div cdkDropList [cdkDropListData]="controlsCol1"
         (cdkDropListDropped)="drop($event)"
         class="boardControls dashboardColumns_Col-1">

      <app-control-component cdkDrag
                             class="boardControls-control"
                             *ngFor="let control of controlsCol1"
                             [controlConfiguration]="control"
                             (boardRequest)="boardRequest($event)"></app-control-component>

    </div>


    <div cdkDropList [cdkDropListData]="controlsCol2"
         (cdkDropListDropped)="drop($event)"
         class="boardControls dashboardColumns_Col-2">

      <app-control-component cdkDrag class="boardControls-control"
                             *ngFor="let control of controlsCol2"
                             [controlConfiguration]="control"
                             (boardRequest)="boardRequest($event)"></app-control-component>
    </div>


  </div>

</section>
