<mat-toolbar>
  <mat-toolbar-row class="secondaryToolbar">
    <span *ngIf="currentDashboard">{{currentDashboard.getName()}}</span>
    <button class="createControlButton" mat-button (click)="createNewComponent()"><mat-icon>add</mat-icon>Create Widget</button>
  </mat-toolbar-row>
</mat-toolbar>

<section *ngIf="currentDashboard">


  <div cdkDropListGroup class="dashboardColumns">

    <div cdkDropList [cdkDropListData]="currentDashboard.widgets[0]"
         (cdkDropListDropped)="drop($event)"
         class="boardControls dashboardColumns_Col-1">

      <app-control-component cdkDrag
                             class="boardControls-control"
                             *ngFor="let control of currentDashboard.widgets[0]"
                             [widget]="control"
                             (removeWidgetEventEmitter)="removeWidgetEventHandler($event)"
                             (boardRequest)="boardRequest($event)"></app-control-component>

    </div>


    <div cdkDropList [cdkDropListData]="currentDashboard.widgets[1]"
         (cdkDropListDropped)="drop($event)"
         class="boardControls dashboardColumns_Col-2">

      <app-control-component cdkDrag class="boardControls-control"
                             *ngFor="let control of currentDashboard.widgets[1]"
                             [widget]="control"
                             (removeWidgetEventEmitter)="removeWidgetEventHandler($event)"
                             (boardRequest)="boardRequest($event)"></app-control-component>
    </div>


  </div>

</section>
