<section class="pageContainer">

  <div class="mat-display-1">
    <h1>Dashboards</h1>

  </div>

  <div class="dashboardPageHeader">

    <div class="dashboardPageHeader-side">
      <p class="dashboardPageHeader-textBlock">
        In order to interact with your micro-controller you need to create a dashboard, on a dashboard you can create
        widgets to allow you control your micro-controller such as an Arduino. Once you have created a dashboard you can
        load it from below.

      </p>

    </div>
    <div class="dashboardPageHeader-side">
      <button mat-button class="dashboardPageHeader-button">
        <mat-icon matListIcon class="">add</mat-icon>
        Create New Dashboard
      </button>

    </div>
  </div>

  <div>

    <p>Saved Dashboards</p>

    <div *ngIf="isLoadingDashboards">
      <mat-progress-bar mode="query"></mat-progress-bar>
    </div>


    <mat-accordion *ngIf="!isLoadingDashboards && dashboards.length > 0">
      <mat-expansion-panel *ngFor="let dashboard of dashboards" class="dashboardsList_container-dashboard">
        <mat-expansion-panel-header>

          <mat-panel-title>
            <mat-icon matListIcon>dashboard</mat-icon>
            <div class="dashboardsList_container-dashboard-title">{{dashboard.getName()}}</div>
          </mat-panel-title>

          <mat-panel-description>
            Board: {{dashboard.getBoard().boardBrandName}}

          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="dashboardsList_container-dashboard-content">

          <button mat-raised-button>
            <mat-icon matListIcon class="dashboardsList_container-dashboard-content-button">widgets</mat-icon>
            Load Dashboard
          </button>
          <button mat-raised-button>
            <mat-icon matListIcon class="dashboardsList_container-dashboard-content-button">settings</mat-icon>
            Settings
          </button>
          <button mat-raised-button (click)="deleteDashboard(dashboard.getID())">
            <mat-icon matListIcon class="dashboardsList_container-dashboard-content-button">clear</mat-icon>
            Delete Dashboard
          </button>

        </div>

      </mat-expansion-panel>

    </mat-accordion>

  </div>

</section>

