<div>

  <form [formGroup]="trafficLightCreationForm">

    <mat-vertical-stepper [linear]="true" #stepper>
      <mat-step>

        <mat-form-field class="">
          <input matInput placeholder="Widget Name" value="" formControlName="trafficLightWidgetName"
                 name="trafficLightWidgetName" required>
        </mat-form-field>

        <h4>Micro-Controller Pin</h4>
        <p>Select the pin that you want to bind this widget to from the available pins below.</p>
        <p>Only the analog pins from your micro-controller are available, this is because you are reading a voltage from
          this pin.</p>
        <mat-form-field>
          <mat-label>Micro-Controller Pin</mat-label>
          <mat-select formControlName="pin">
            <mat-option *ngFor="let pin of currentBoard.getPins(false, 'ANALOG')" [value]="pin">
              {{pin}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>

      </mat-step>
      <mat-step>


        <h4>Traffic Light Logic</h4>
        <p>The active light of the traffic light is deduced by the application of a logic expression based on the read
          value from the micro-controller pin and a value you provide below.</p>
        <p>Please complete the logic expression below to set the light colour for your traffic light widget.</p>


        When read Value is
        <mat-form-field>
          <mat-select formControlName="selectedLogicExpression" name="selectedLogicExpression">
            <mat-option *ngFor="let logicExpression of logicExpressions" [value]="logicExpression.value">
              {{logicExpression.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        than
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Comparison Constant" formControlName="selectedConstantValue"
                 name="selectedConstantValue" matTooltip="Value must be from 0 to 1023">
        </mat-form-field>


        <div class="optionButtons">

          <button mat-button matStepperPrevious>
            <mat-icon>arrow_back</mat-icon>
            Back
          </button>
          <button mat-button>
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
          <button mat-button [disabled]="trafficLightCreationForm.invalid"
                  (click)="createTrafficLightWidget(trafficLightCreationForm.get('trafficLightWidgetName').value, trafficLightCreationForm.get('pin').value, trafficLightCreationForm.get('selectedConstantValue').value,trafficLightCreationForm.get('selectedLogicExpression').value)">
            <mat-icon>check</mat-icon>
            Create
          </button>

        </div>

      </mat-step>

    </mat-vertical-stepper>

  </form>

</div>


