
.dashboardLoadingBlock{
  width: 40%;
  margin: auto;
  margin-top: 15%;
  text-align: center;
}

.dashboardDetailsForm {
  margin-top: 25px;
  &-saveButton {
    margin-top: 25px;

  }
}

.tabContent {
  margin-top: 20px;

}
