.connectedBoardSelection{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;


  &_selectInput {
    width: 55%;

    &-formField{
      width: 100%;
    }
  }


  &_searchButton {
    margin-top: 5px;
    margin-left: 25px;
  }

  &_loading {
    margin-top: 25px;
  }
}

.stepperControlButtons {
  margin-top: 5%;
}
