<h1 mat-dialog-title>Create Control:</h1>

<p>
  Entere a control name and pin to make a new control
</p>

<mat-form-field class="example-form-field">
  <input matInput type="text" placeholder="Control Name:" [(ngModel)]="requestedConfig.name">
  <button mat-button *ngIf="requestedConfig.name" matSuffix mat-icon-button aria-label="Clear" (click)="requestedConfig.name=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<mat-form-field>
  <mat-select matInput placeholder="Control Type" [(ngModel)]="requestedConfig.controlType">
    <mat-option  *ngFor="let controlType of controlTypes" [value]="controlType.value">
      {{controlType.value}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="example-form-field">
  <input matInput type="text" placeholder="Board Pin:" [(ngModel)]="requestedConfig.boardPin">
  <button mat-button *ngIf="requestedConfig.boardPin" matSuffix mat-icon-button aria-label="Clear" (click)="requestedConfig.boardPin=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>




<div mat-dialog-actions>
  <button mat-button (click)="confirmSelection()" color="primary">
    Create
  </button>
  <button mat-button (click)="dialogRef.close()">
    Cancel
  </button>
</div>
