<mat-toolbar class="app-toolbar" color="primary">
  <mat-toolbar-row>
    <span>Arduino Controller</span>
    <span class="app-toolbar-spacer"></span>
    <span class="not-dragable">

      <button mat-icon-button class="toolBarButton">
        <mat-icon class="">verified_user</mat-icon>
      </button>

      <button mat-icon-button class="toolBarButton">
        <mat-icon class="">favorite</mat-icon>
      </button>

      <button (click)="closeApp()" mat-icon-button class="toolBarButton">
        <mat-icon aria-label="Close the application">clear</mat-icon>
      </button>

    </span>
  </mat-toolbar-row>

</mat-toolbar>

<!--<router-outlet></router-outlet>-->

<div [@routeAnimations]="o && o.activatedRouteData">
  <router-outlet #o="outlet"></router-outlet>
</div>
