<mat-toolbar class="app-toolbar" color="primary">
  <mat-toolbar-row>
    <span class="titleFont">Arduino Controller</span>
    <div class="not-dragable mainMenuContainer">
      <button mat-button [matMenuTriggerFor]="menu" class="titleFont">Menu</button>
      <mat-menu #menu="matMenu" class="mainMenu">
        <a class="mainMenu" routerLink="/dashboard/select">
          <button mat-menu-item>Dashboards Home</button>
        </a>
        <a class="mainMenu">
          <button mat-menu-item>Log Out</button>
        </a>
      </mat-menu>
    </div>

    <span class="app-toolbar-spacer"></span>
    <span class="not-dragable">

      <button mat-icon-button class="toolBarButton">
        <mat-icon class="">verified_user</mat-icon>
      </button>

      <button mat-icon-button class="toolBarButton">
        <mat-icon class="">favorite</mat-icon>
      </button>

      <button (click)="closeApp()" mat-icon-button class="toolBarButton">
        <mat-icon aria-label="Close the application">clear</mat-icon>
      </button>

    </span>
  </mat-toolbar-row>

</mat-toolbar>

<div class="toolbarVerticalSpaceHolder"></div>

<!-- Extended router-outlet for providing a route transition animation-->
<div [@routeAnimations]="o && o.activatedRouteData">
  <router-outlet #o="outlet"></router-outlet>
</div>

