.app-toolbar-icon {
  padding: 0 14px;
}

.app-toolbar-spacer {
  flex: 1 1 auto;
}

.app-toolbar {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.boardControls {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  margin: 5%;

  &-control {
    display: block;
    padding-bottom: 15px;

  }
}

//TMP
.createControlButton {
  margin: 5%;
}
