<mat-toolbar class="app-toolbar" color="primary">
  <mat-toolbar-row>
    <span>Arduino Controller</span>
    <span class="app-toolbar-spacer"></span>
    <mat-icon class="app-toolbar-icon">verified_user</mat-icon>
    <mat-icon class="app-toolbar-icon">favorite</mat-icon>
    <mat-icon class="app-toolbar-icon">delete</mat-icon>
  </mat-toolbar-row>

</mat-toolbar>


<button mat-raised-button (click)="openDialog()">Create Control</button>


<app-button-control-component *ngFor="let buttControl of buttControls" [controlConfiguration]="buttControl"></app-button-control-component>


<router-outlet></router-outlet>
