.programmeButtons {
  text-align: center;
  margin-top: 5%;
  &-button {
    margin-bottom: 5%;

  }
}

.programmeSpinner {
  margin: auto;
}

.programmingSuccessful {
  width: 100%;
  margin: auto;
  &_card {
    width: 45%;
    text-align: center;
    margin: auto;
    margin-bottom: 5%;

  }

}
