<mat-horizontal-stepper [linear]="true">

  <mat-step>
    <app-board-selection-container (selectedBoardEmitter)="updateSelectedBoard($event)"></app-board-selection-container>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Upload To Board</ng-template>
    <app-board-programmer [selectedBoardConfig]="selectedBoardConfig"></app-board-programmer>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Save Board</ng-template>

    <app-board-save [selectedBoardConfig]="selectedBoardConfig" (saveCompletedEventEmitter)="boardConfigurationProcessCompleted()" ></app-board-save>

  </mat-step>

</mat-horizontal-stepper>
