<mat-toolbar>
  <div class="">
    <button mat-icon-button [matMenuTriggerFor]="menuWidgetOptions" aria-label="Widget Options Menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuWidgetOptions="matMenu">
      <button mat-menu-item (click)="removeWidget(widget.id)">
        <mat-icon>delete</mat-icon>
        <span>Remove Widget</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </div>

  <div>
    <h2 class="titleFont">{{this.widget.name}}</h2>
  </div>

</mat-toolbar>
<mat-card *ngIf="widget" [ngSwitch]="widget.type">


  <app-button-control-component *ngSwitchCase="'Button'" (boardRequest)="passBoardRequest($event)"
                                [widget]="widget"></app-button-control-component>
  <app-slider-control *ngSwitchCase="'Slider'" (boardRequest)="passBoardRequest($event)" [widget]="widget">>
  </app-slider-control>

  <span *ngSwitchDefault>There has been an error</span>
</mat-card>


