
.dashboardPageHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &-textBlock {
    max-width: 75%;
  }

  &-button {
    margin-right: 25px;
  }



}

.dashboardsList_container {
  &-dashboard {
    text-align: left;

    &-title {
      padding-left: 16px;

    }

    &-content {
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      &-button {
        padding-right: 16px;

      }
    }
  }
}
