/* You can add global styles to this file, and also import other style files */
//Angular Material Theme
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto');

body {
  margin: 0;
}

.dragable {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.not-dragable {
  -webkit-app-region: no-drag;
  -webkit-user-select: auto;
}


.stepSection {
  width: 85%;
  margin: 0 auto;
}

.pageContainer {
  width: 80%;
  margin: 0 auto;
}

.titleFont {
  font-family: 'Poppins', sans-serif;
}
html {
  font-family: 'Roboto', sans-serif;

}
